* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
html,
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
}
.box-area {
  width: 100%;
  min-height: 100%;
  position: relative;
}
.wrapper {
  width: 1170px;
  margin: 0 auto;
}
header {
  height: 100px;
  width: 100%;
  background-color: #022b3a;
  z-index: 12;
  position: fixed;
}
.logo {
  width: 30%;
  float: left;
  line-height: 100px;
}
.logo a {
  text-decoration: none;
  font-family: "Roboto Mono";
  font-size: 30px;
  color: #ffff;
  letter-spacing: 5px;
}
nav {
  float: right;
  line-height: 100px;
}
nav a {
  margin: 0 10px;
  text-decoration: none;
  font-family: "Playfair Display";
  font-size: 20px;
  color: #ffff;
  letter-spacing: 0;
}
.banner-area {
  width: 100%;
  height: 350px;
  position: fixed;
  top: 100px;
  background: linear-gradient(to right, #1f7a8c, #bfdbf7);
  background-size: cover;
  background-position: center center;
}
.banner-area h2 {
  padding-top: 5%;
  text-align: center;
  font-family: "Playfair Display";
  font-size: 50px;
  color: #ffffff;
}
.banner-area h4 {
  padding-top: 2%;
  text-align: center;
  font-family: "Playfair Display";
  font-size: 25px;
  color: #ffffff;
}
.content-area {
  width: 100%;
  height: 3200px;
  position: relative;
  top: 400px;
  padding-bottom: 400px;
  justify-content: center;
  align-items: center;
  background-color: #022b3a;
}
.wrapper h2 {
  margin: 0;
  padding-top: 10%;
  text-align: center;
  font-family: "Playfair Display";
  font-size: 40px;
  color: #ffff;
}
.container {
  display: flex;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 900px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.card {
  position: relative;
  max-width: 800px;
  background: #ffff;
  margin: 20px;
  padding: 20px;
  display: flex;
  transition: 0.5s;
}
.card:hover {
  box-shadow: 0 15px 30px #bfdbf7;
}
.image-box {
  max-width: 150px;
  flex: 0 0 150px;
  padding-top: 1%;
}
.image-box img {
  width: 350px;
  height: 250px;
}
.content {
  padding-left: 220px;
  text-align: justify;
}
.content h2 {
  margin: 0;
  padding-bottom: 2%;
  padding-left: 0;
  font-size: 30px;
  color: #022b3a;
}
.content p {
  margin: 0;
  padding: 10px 0 0;
  color: #000000;
}
footer {
  width: fit-content;
  height: fit-content;
  position: absolute;
  display: flex;
  background: linear-gradient(to right, #1f7a8c, #bfdbf7);
  padding: 100px;
  line-height: 30px;
}
.row {
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-evenly;
}
.col {
  flex-basis: 35%;
  padding: 25px;
  flex: 1;
}
.col h2 span {
  font-family: "Roboto Mono";
  font-size: 30px;
  color: #ffff;
  letter-spacing: 5px;
}
.col h2 {
  text-align: left;
  padding-bottom: 5%;
  font-family: "Playfair Display";
  font-size: 30px;
  color: #ffffff;
}
.col p {
  text-align: justify;
  font-family: "Playfair Display";
  font-size: 20px;
  color: #ffff;
}
.col .contact span {
  display: block;
  font-size: 15px;
  color: #ffff;
}
.col .contact-input {
  background-color: #ffff;
  color: #022b3a;
  margin-bottom: 5px;
  line-height: 0.5rem;
  padding: 0.8rem 5rem;
  border: none;
}
.col .contact-input:focus {
  background-color: #bfdbf7;
}
.btn-big {
  padding: 0.5rem 1.5rem;
  line-height: 1.5rem;
  color: #022b3a;
  cursor: pointer;
}
.modal {
  display: flex;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.5); /* Black w/ opacity */
}
.modal-content {
  background-color: #bfdbf7;
  margin: 15% auto;
  padding: 50px;
  border: 10px solid #1f7a8c;
  width: 50%;
}
.modal-content p {
  font-family: "Playfair Display";
  font-size: 15px;
  color: black;
}
.close {
  color: #1f7a8c;
  float: right;
  font-size: 30px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
