.speciality .box-container{
    padding-top: 0%;
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
  }
  
  .content-area {
    width: 100%;
    height: fit-content;
    position: relative;
    top: 400px;
    background-color: #022b3a;
  }

  

  .speciality .box-container .box{
    flex:1 1 30rem;
    position: relative;
    overflow: hidden;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    border:.1rem solid rgba(0,0,0,.3);
    cursor: pointer;
    border-radius: .5rem;
    background:#fff;
  }
  
  .speciality .box-container .box .image{
    height:100%;
    width:100%;
    object-fit: cover;
    position: absolute;
    top:-100%; left:0;
  }
  
  .speciality .box-container .box .content{
    text-align: center;
    padding:2rem;
  }
  
  .speciality .box-container .box .content img{
    margin: 1.5rem 0;
    height: 7rem;
    width: 7rem;
  }
  
  .speciality .box-container .box .content h3{
    font-size: 2.5rem;
    color:#333;
  }
  
  .speciality .box-container .box .content p{
    font-size: 1.6rem;
    color:#666;
    padding:1rem 0;
  }
  
  .popular .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
  }
  
  .popular .box-container .box{
    padding:2rem;
    background:#fff;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    border:.1rem solid rgba(0,0,0,.3);
    border-radius: .5rem;
    text-align: center;
    flex:1 1 30rem;
    position: relative;
  }
  
  .popular .box-container .box img{
    height: 20rem;
    object-fit: cover;
    width:100%;
    border-radius: .5rem;
  }
  
  
  .popular .box-container .box h3{
    color:#333;
    font-size: 2.5rem;
    padding-top: 1rem;
  }
  
  *{
    margin: 0;
    padding: 0;
}

  .wrapper{
    width: 1170px;
    margin: 0 auto;
}
header{
    height: 100px;
    width: 100%;
    background-color: #022b3a;
    z-index: 12;
    position: fixed;
}
.logo{
    width: 30%;
    float: left;
    line-height: 100px;
}
.logo a{
    text-decoration: None;
    font-family: Arial;
    font-size: 30px;
    color: #ffff;
    letter-spacing: 5px;
}
nav{
    float: right;
    line-height: 100px;
}
nav a{
    margin: 0 10px;
    text-decoration: None;
    font-family: Arial;
    font-size: 20px;
    color: #ffff;
    letter-spacing: 0;
}
.banner-area{
    width: 100%;
    height: 350px;
    position: fixed;
    top: 100px;
    background-color: #bfdbf7;
    background-size: cover;
    background-position: center center;
}
.banner-area h2{
    padding-top: 5%;
    text-align: center;
    font-family: Arial;
    font-size: 50px;
    color: #1f7a8c;
}
.banner-area h4{
    padding-top: 2%;
    text-align: center;
    font-family: Arial;
    font-size: 25px;
    color: #1f7a8c;
}
.content-area{
    width: 100%;
    height: fit-content;
    position: relative;
    top: 400px;
    background-color: #bfdbf7;
}
.content-area h2{
    margin: 0;
    padding-top: 1%;
    padding-bottom: 5%;
    text-align: center;
    font-family: Arial;
    font-size: 40px;
    color: #ffff;
}
.content-area p{
    text-align: justify;
    font-family: Arial;
    font-size: 20px;
    color: rgb(0, 0, 0);
}
.content-area a{
    text-align: justify;
    font-family: Arial;
    font-size: 20px;
    color: #022b3a;
}

